#blog-title {
  background-color: #407F7F;
  text-align: center;
  font-family: 'Cinzel', serif;
}

a {
  text-decoration: none;
  margin: 50px;
  color: #801515;
}

nav {
  margin-bottom: 18px;
  margin-left: 20px;
}


#home {
  background-image: url(0003-home3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
}

#new {
  background-image: url(0006-pencil.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
}

#stats-link {
  background-image: url(0156-stats-dots.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
}

#gitHub {
  background-image: url(0434-github.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
}

#facebook {
  background-image: url(0398-facebook2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
}

#twitter {
  background-image: url(0402-twitter.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
}

#about {
  background-image: url(0069-address-book.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
}

article {
  border-bottom: 1px solid;
  margin-right: 20px;
}

.title {
  font-family: 'Cinzel', serif;
}

.author {
  color: #0D4D4D ;
}

#articles {
  margin-left: 20px;
}

.tab-content {
  display: none;
}

.active {
  display: inline;
}

footer {
  background-color: #407F7F;
}
